<div class="container main">
  <div class="row">
    <div class="lead mt-5">交換履歴</div>
  </div>

  <div class="row mt-5">
    <table class="table">
      <thead>
        <tr>
          <th>日時</th>
          <th>ユーザー名</th>
          <th>操作履歴</th>
        </tr>
      </thead>
      <tbody>
        <% @exchanges.each do |exchange| %>
          <tr>
            <td><%= exchange.created_at.strftime('%Y/%m/%d %-H:%-M:%-S') %></td>
                <td>
                  <%= User.find(exchange.last_updater).name unless exchange.last_updater.nil? %>
                </td>
                <td>
                  <% unless exchange.last_status.nil? %>
                    <% if exchange.last_status == "exchanged_status" %>
                      <%= exchange.exchanged_status %>
                    <% elsif exchange.item_status == "item_status" %>
                      <%= exchange.item_status %>
                    <% end %>
                  <% end %>
                </td>
          </tr>
        <% end %>
      </tbody>
    </table>


  </div>
</div>