<div class="container">
  <div class="row">
    <div class="lead">お問い合わせ</div>
  </div>
  <%= form_with model: @inquiries, url: inquiries_path, local: true do |f| %>
    <div class="row">
      <div class="col">
        <%= f.label :お問い合わせ種別, class: "col-form-label"
      </div>
    </div>
</div>