<div class="container">
  <div class="row">
    <h6 class="mt-sm-5">新着グッズ</h6>
  </div>

  <div class="row">
    <% if @item.images.attached %>
      <% @item.images.each do |image| %>
      <div class="col-sm-3">
        <%= link_to item_path(item) do %>
          <%#= image_tag item, :image, format: 'jpeg', size: "50x50" %>
          <%= image_tag image, format: 'jpeg', size: "50x50" %>
        <% end %>
      </div>
    <% end %>
    <% end %>
  </div>
</div>