<div class="container mt-5 main">
  <div class="row">
    <div class="lead mt-sm-5 fukidashi">交換申し込み一覧</div>
  </div>
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-xs-8 col-sm-6 col-md-3 mt-sm-5">
        <%= link_to exchange_path(item) do %>
          <%= attachment_image_tag item, :item_image, format: 'jpeg', size: "150x150" %>
        <% end %>
        <div class="row ml-md-1 mt-sm-2">
          <%= item.exchange_status %>
        </div>
      </div>
    <% end %>
  </div>
</div>